<!-- style for zoom in / out -->
<LINK href="{{ url_for('static', filename='styles/map_page/zoom_in_out_of_map_style.css')}}" rel="stylesheet" type="text/css">

<table class='zoom_holder'>
    <tr>
        <td id='td_for_zoomin'>
            <img id='zoomIn' title='Zoom in map' src='static/images/map_page/zoom_in.png'>
        </td>
    </tr>
    <tr>
        <td id='td_for_zoomout'>
            <img id='zoomOut' title='Zoom out map' src='static/images/map_page/zoom_out.png'>
        </td>
    </tr>
</table>
