body {
  text-align: center;
  font-family: sans-serif, Tahoma, Calibri, Verdana, Geneva;
}

#log_in_div {
  width: 200px; 
  border: 1px solid lightgray;
  margin: 0 auto; 
  padding-top: 3px; 
  padding-bottom: 3px;
  box-shadow: 3px 3px 3px 0px #D5DFEB;
}

input[type=text], input[type=password] {
  border-radius: 0px;
  border: 1 solid #D5DFEB;
}

input:focus{
  outline-color: #CCC;
}

input[type=submit] {
  border-radius: 15px;
  box-shadow: 5px 5px 5px 0px #D5DFEB;
}

p {
  font-size: 12 px;
  color: gray;
}

h1 {
  font-size: 250%;
  padding-bottom: 50px;
}

.main-header {
  padding-top: 30px;
  padding-bottom: 30px;
}

#suncor_logo {
  height: 100px;
}

#login_progress {
  width: 50%;
  padding-left: 25%;
  padding-right: 25%;
}

#login_progress_bar {
  padding: 10px 0px 0px 0px;
  width: 0%;
  height: 30px;
  color: white;
  background-color: #005596;
}