#Production_volume_table th:nth-child(8), #Production_volume_table td:nth-child(8),
#Production_volume_table th:nth-child(9), #Production_volume_table td:nth-child(9),
#Production_volume_table th:nth-child(10), #Production_volume_table td:nth-child(10),
#remove_user_defined_column_image
{
    display: none;
}

#add_user_defined_column_image, #remove_user_defined_column_image {
    height: 15px;
    width: 15px;
}

#Production_volume_table {
    width: 100%;
}

#Production_volume_table input {
    width: 100%;
}

#load_type_curve {
    float:right;
    width: 200px;
    margin-right:30px;
}
