#suncor_logo_div {
    padding: 5px 0px 5px 0px;
}

#suncor_logo_td {
    padding-left: 5px;
    padding-right: 50px;
}

#suncor_logo_icon_size {
    height:50;
}

#scenario_name_input {
    width:500;
}

#scenario_name_pencil {
    height:9;
  }
  